body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/*nav */
header{
    background-image: url(../image/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}
.btn{
    font-family: "Raleway", sans-serif;
    font-size: 16;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 5px;
    border: none;
    padding: 12px 36px;
}
.banner{
    text-align: center;
    padding-bottom: 200px;
}
.banner h1{
    font-family: "Raleway", sans-serif;
    font-size: 65px;
    font-weight: 700;
    color: #252432;
    padding: 0 200px;

}
/*action*/
.action{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}
.action-content{
    padding-top: 50px;
}
.action h3{
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: #252432;
    margin-bottom: 0;

}
.action p{
    font-family: "Raleway", sans-serif;
    font-size: 24;
    font-weight: 400;
    color: #252432;
    margin-right: 352px;
    opacity: 50%;
}
.action img{
    border-radius: 50px;
}
/*user*/
.user{
    margin: 0 100px 50px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 20px;
    padding: 30px 100px;
}
.user-n{
    display: flex;
    justify-content: space-between;
}
.user h1{
    font-family: "Raleway", sans-serif;
    font-size: 38;
    font-weight: 700;
    text-align: center;
    color: #252432;
    margin-top: 0;
    
}
.item h2{
    font-family: "Raleway", sans-serif;
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
    margin: 0;
}
.item p{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 400;
    opacity: 50%;
    margin: 0;
}
/*compliment*/
.compliment{
    padding: 0 100px 50px;
}
.compliment h1{
    text-align: center;
}
.compliment-all{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.compliment-data{
    display: flex;
   align-items: center;
}
.compliment-data img{
    width: 40px;
    height: 40px;
    border-radius:9999% ;
}
.compliment-data h6{
    margin: 0;
    margin-left: 10px;
   
}
.compliment-data p{
    margin: 0;
    font-size: 16px;
    margin-left: 10px;
}

.compliment-one{
    padding: 24px;
    background-color: #FFFFFF;
    border: 2px solid #F2EDED;
    border-radius: 10px ;
   
}
.compliment-one h3{
    margin-bottom: 0;
}
/*focus*/
.focus {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 100px;
}

.f-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
}
.f-content h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0;
}
.f-content p{
    margin: 0;
}

.f-content img {
  max-width: 100%;
  height: auto;
  border-radius: 40px;
}